.titulo{
    font-family: 'Courier New', Courier, monospace;
color: red;
text-align: center;
font-size: 50px;
}
.caixa{
    background-color: black;
    border-radius: 20px;
}
.caixa2{
    width: 100px;
    height: 100px;
    background-color: rgb(210, 33, 33);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}